@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;600;700&display=swap');

body {
	font-family: 'Rajdhani', sans-serif;
	color: #f2f2f2;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
}

body {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	font-style: normal;
	font-size: inherit;
}

ul {
	list-style: none;
}

li {
	display: inline-block;
}

.contentContainer {
	max-width: 1440px;
}

.sidePadding {
	padding-left: 20px;
	padding-right: 20px;

	@media (min-width: 900px) {
		padding-left: 88px;
		padding-right: 88px;
	}
}

.topBottomPadding {
	padding-top: 88px;
	padding-bottom: 88px;

	@media (min-width: 900px) {
		padding-top: 88px;
		padding-bottom: 88px;
	}
}

.maxWidth {
	max-width: 1440px;
	margin: 0 auto;
}

// <Typography
.commonText {
	font-family: Rajdhani;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 32px;
}
// < /Typography>
