@import '@/styles/vars';

.container {
  display: flex;
  margin-inline: auto;
  gap: 1rem;
  margin-top: 2rem;

  a {
    color: darken($color-text, 40%);

    &:hover {
      color: $color-accent;
    }
  }
}