@import '@/styles/vars';

* {
  font-family: 'League Spartan', sans-serif;
  color: $color-text;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: $color-background;
  min-height: 100vh;
}

main {
  grid-row: 2;
  overflow: auto;
}

a {
  &:focus-visible {
    outline: 1px solid $color-accent;
  }
}

hr {
  all: unset;
  width: 20%;
  display: flex;
  background: $color-background-lighten;
  height: 6px;
  margin-block: 3rem;
}

em {
  font-style: italic;
  color: $color-accent;
}

blockquote {
  padding-left: 2rem;
  border-left: 6px solid $color-background-lighten;
}