@import '@/styles/vars';

* {
  font-family: 'League Spartan', sans-serif;
  color: $color-text;
  text-decoration: none;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: $color-background;
  min-height: 100vh;
}

main {
  grid-row: 2;
  overflow: auto;
}

a {
  &:focus, &:focus-visible {
    outline: 1px solid $color-accent; /* Red outline */
  }
}