@import '@/styles/vars';

.container {
  border: 6px solid lighten($color-background, 3%);
  border-top: none;
  border-left: none;
  border-radius: 0 0 .35rem 0;
  padding: 0 2rem 1rem 0;

  &.featured {
    padding: 1.5rem;
    background-color: lighten($color-background, 3%);
    border-radius: .35rem;
    border: none;
  }

  .heading {
    font-weight: 500;
    font-size: clamp(1.1rem, 1.1vw, 1.3rem);
  }

  .metadata {
    display: flex;
    justify-content: space-between;
    margin-top: .5rem;
    font-size: clamp(.9rem, .8vw, 1.3rem);
    font-weight: 300;
    color: darken($color-text, 40%);

    & > * {
      color: inherit;
    }
  }

  .text {
    margin-top: .8rem;
    font-weight: 300;
    font-size: clamp(1rem, 1.1vw, 1.3rem);
    line-height: 1.3;
  }
}