.blog-post {
  overflow: hidden;

  h1 {
    margin-bottom: 2rem;
  }

  h2 {
    font-weight: 500;
    font-size: clamp(1.4rem, 1.1vw, 1.6rem);
  }

  p {
    margin-bottom: 1.1rem;
  }

  img {
    max-width: 100%;
  }

  pre {
    font-size: clamp(1rem, .8vw, 1.2rem);
  }
}