.blog-post {
  font-size: clamp(1.2rem, 1vw, 1.4rem);
  line-height: 1.3;
  font-weight: 300;

  h1 {
    margin-bottom: 2rem;
  }

  h2 {
    font-weight: 500;
    font-size: clamp(1.4rem, 1.1vw, 1.6rem);
  }

  p {
    margin-bottom: 1rem;
  }

  img {
    max-width: 100%;
  }
}