@import '@/styles/vars';

.main {
  h2 {
    font-weight: 500;
    font-size: clamp(1.4rem, 1.1vw, 1.6rem);
    margin-bottom: 1rem;
  }

  a {
    text-decoration: underline;
  }

  section {
    width: 100%;

    &:not(:first-of-type) {
      margin-top: 2rem;
    }
  }
}