@import '@/styles/vars';

.paddingInline {
  padding-inline: 5%;

  @media (min-width: 768px) {
    padding-inline: 16%;
  }

  @media (min-width: 1024px) {
    padding-inline: 28%;
  }
}

.section {
  flex-direction: column;
  background-color: $color-background;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 2rem;
}

.blogs {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  margin-top: 1rem;
}