@import '@/styles/vars';

.blog-content {
  overflow-x: hidden;
  max-width: 100%;

  h2 {
    margin-bottom: 1.1rem;
    font-weight: 500;
    font-size: clamp(1.4rem, 1.1vw, 1.6rem);
  }

  p, ul, ol {
    margin-bottom: 1.1rem;
  }

  img {
    max-width: 100%;
  }

  .rehype-code-title {
    background-color: darken($color-background, 2%);
    color: lighten($color-background, 35%);
    padding: .5em;
    padding-inline: 1em;
  }

  pre {
    font-size: clamp(1rem, .8vw, 1.2rem);
    margin-bottom: 1.1rem;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  ul, ol {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding-left: 2rem;
  }
}