@import '@/styles/vars';

.featuredPostsHeading {
  align-self: flex-start;
  font-size: clamp(1.3rem, 1.5vw, 4rem);
  font-weight: 600;
  text-transform: lowercase;
  letter-spacing: .2rem;
}

.blogs {
  gap: 1rem;
  margin-top: 2rem;
}