@import '@/styles/vars';

.section {
  background-color: $color-background;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .h1 {
    font-size: 46px;
    color: $color-text;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .textStrong {
      color: $color-accent;
    }

    .textLink {
      text-decoration: underline;
    }

    .textBottom {
      font-size: 24px;
    }
  }
}