@import '@/styles/vars';

.section {
  flex-direction: column;
  background-color: $color-background;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 2rem;
  margin-inline: 28%;
}