@import '@/styles/vars';

.featuredPostsHeading {
  margin-top: 2rem;
  font-weight: 500;
  font-size: clamp(1.5rem, 2vw, 4rem);
  align-self: flex-start;
}

.checkAllPosts {
  background-color: $color-accent;
  color: $color-background;
  border-radius: .35rem;
  display: inline-flex;
  width: fit-content;
  text-align: center;
  padding-block: 1rem;
  padding-inline: 3rem;
  font-weight: 600;
}