@import '@/styles/vars';

.section {
  flex-direction: column;
  background-color: $color-background;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: 769px) {
    flex-direction: row;
  }
}

.containerImageText {
  display: flex;
  align-items: center;
  margin-left: 10%;
  background-color: #262A32;
  padding-block: 80px;
  padding-left: 48px;
  padding-right: 70px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  width: 100%;

  .image {
    object-fit: cover;
    max-width: 100%;
  }

  .textSection {
    color: $color-text;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 12px;
    translate: -10%;
    font-weight: 300;

    .title {
      font-size: clamp(1.5rem, 3.3vw, 3.5rem);
      background-color: rgba(255, 99, 81, 0.2);
      padding: 1rem;
    }

    .location {
      font-size: clamp(1rem, 3vw, 1.5rem);
    }

    a {
      font-weight: 500;
    }

    .accented {
      color: $color-accent;
    }

    .locationLink {
      text-decoration: underline;
    }
  }
}

.element {
  position: absolute;
  opacity: 20%;
}

.socialIcons {
  display: flex;
  column-gap: 24px;
  position: absolute;
  bottom: 12px;
}