@import '@/styles/vars';
@import '@/styles/about-and-blog-content.module';

.blog-content {
  overflow-x: hidden;
  max-width: 100%;

  .rehype-code-title {
    margin-top: $margin-top-value;
    background-color: darken($color-background, 2%);
    color: lighten($color-background, 35%);
    padding: .5em 1em;

    + pre {
      margin-top: 0;
    }
  }

  pre {
    margin-top: $margin-top-value;
    font-size: clamp(1rem, 1vw, 1.2rem);
  }
}