@import '@/styles/vars';

.container {
  display: flex;
  align-items: flex-start;
  width: 100%;
  flex-direction: column;

  .imageAndIconsWrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
  }

  .image {
    object-fit: cover;
    border-radius: 5000px;
  }

  .textSection {
    margin-top: 2rem;
    color: $color-text;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1rem;
    font-weight: 300;

    .title {
      font-size: clamp(2.6rem, 4vw, 5rem);

      a {
        font-weight: 500;
      }
    }

    .locationLink {
      text-decoration: underline;
      font-weight: 300;
    }

    .tags {
      font-size: clamp(1.1rem, 1.3vw, 1.7rem);
      color: $color-accent-2;

      span {
        color: #4E5564;
        margin-inline: .3rem;
      }
    }

    .accented {
      color: $color-accent;
    }

    .paragraphBelow {
      margin-top: 24px;
      display: flex;
      flex-direction: column;
      gap: 12px;

      .ul {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        list-style-type: disc;

        a {
          color: $color-accent;
          font-weight: 500;
        }

        li {
          margin-left: .8rem;
        }
      }
    }
  }
}