@import '@/styles/vars';

.container {
  padding: 1.5rem;
  background-color: lighten($color-background, 3%);
  border-radius: .35rem;
  border: none;

  .title {
    margin-top: .5rem;
    color: $color-accent;
  }

  .companyName, .title {
    font-weight: 500;
  }

  .location, .duration {
    font-size: clamp(.9rem, .8vw, 1.3rem);
    font-weight: 300;
  }

  ul {
    margin-top: .5rem;
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
    list-style-type: disc;
    margin-left: 1rem;
    font-size: clamp(1rem, .9vw, 1.4rem);
  }

  .location {
    color: darken($color-text, 40%);
  }
}
