@import '@/styles/vars';

.content {
  flex: 1 0 50%;

  .position {
    flex: 1 0;

    &:not(:first-of-type) {
      margin-top: 2rem;
    }

    .title {
      font-weight: 500;
    }

    .duration {
      font-weight: 300;
    }

    .duration, .location {
      color: darken($color-text, 40%);
      font-size: clamp(.9rem, .8vw, 1.3rem);
    }

    .achievements {
      margin-top: 1rem;
      margin-left: 1rem;
      list-style-type: disc;

      .achievement {
        &:not(:first-of-type) {
          margin-top: 1.5rem;
        }
      }
    }
  }
}
