@import '@/styles/vars';

.container {
  display: flex;
  width: 100%;
  background-color: $color-background;
  margin-bottom: 2rem;
  position: relative;

  .label {
    height: 36px;
    border-radius: .35rem;
    border: 1px solid darken($color-text, 40%);
    width: 100%;
    display: flex;
    align-items: center;
    padding-inline: .5rem;

    .input {
      background-color: inherit;
      outline: none;
      border: none;
      height: 100%;
      width: 100%;
      padding-left: .3rem;
      color: darken($color-text, 40%);
      font-weight: 300;

      &::placeholder {
        color: darken($color-text, 60%);
      }
    }
  }

  .results {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: $color-background;
    border-radius: .35rem;
    border: 1px solid darken($color-text, 40%);
    width: 100%;
    position: absolute;
    translate: 0 100%;
    bottom: -1rem;
    left: 0;
    padding-block: .5rem;

    li {
      width: 100%;

      a {
        display: flex;
        width: 100%;
        padding-inline: 1rem;
        padding-block: .8rem;
      }

      &:hover {
        background-color: lighten($color-background, 10%);
      }
    }
  }
}