@import '@/styles/vars';

.link {
  display: flex;
  align-items: center;

  .text {
    color: darken($color-text, 40%);
  }

  .cross {
    margin-left: .2rem;
  }

  &:hover {
    .text {
      color: $color-accent;
    }
  }

  &.active {
    border-radius: .35rem;
    padding: .5rem;
    background-color: darken($color-accent, 10%);

    .text {
      color: $color-text;
    }
  }
}