@import '@/styles/vars';

.categories {
  margin-bottom: 3rem;
  justify-content: flex-start;
  display: flex;
  gap: .5rem;

  li {
    a {
      color: darken($color-text, 40%);

      &.active {
        color: $color-accent;
      }
    }
  }
}