$margin-top-value: 1.5rem;

/**
Typography, spacings and other styles for /about and /blog/[slug]
 */
.shared {
  h2, .subheading {
    font-weight: 500;
  }

  h2 {
    font-size: clamp(1.4rem, 1.1vw, 1.6rem);
    margin-bottom: 1rem;

    &:not(:first-of-type) {
      margin-top: 2rem;
    }

    + img {
      + p {
        margin-top: $margin-top-value;
      }
    }
  }

  p {
    margin-top: $margin-top-value;

    &:first-child {
      margin-top: 0;
    }
  }

  ul, ol {
    margin-top: $margin-top-value;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding-left: 1.5rem;
    list-style-type: decimal;
  }

  img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
}

