@import '@/styles/vars';

.container {
  display: flex;
  width: 100%;
  margin-top: 3rem;
  padding-top: 3rem;
  border-top: solid lighten($color-background, 3%) 6px;

  .linkContainer {
    display: flex;

    .image {
      min-width: 70px;
      width: 70px;
      height: 70px;
      object-fit: cover;
      border-radius: 5000px;

      @media (min-width: 420px) {
        width: 80px;
        height: 80px;
      }
    }

    .textContainer {
      margin-left: 1rem;

      .writtenBy {
        color: lighten($color-background, 35%);
        font-size: clamp(1rem, .9vw, 3rem);
      }

      .name {
        font-weight: 500;
      }
    }
  }
}