@import '@/styles/vars';

#nprogress .bar {
  background: $color-accent !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px $color-accent, 0 0 5px $color-accent;
}

#nprogress .spinner-icon {
  display: none;
}
